<center>
    <table>
        <tr>
            <td>
                @Html.DevExpress().Button(settings => {
                   settings.Name = "ButtonNavBar";
                   settings.UseSubmitBehavior = false;
                   settings.RouteValues = new { Controller = "Home", Action = "NavBar" };
                   settings.Text = "NavBar example";
               }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().Button(settings => {
                   settings.Name = "ButtonMenu";
                   settings.UseSubmitBehavior = false;
                   settings.RouteValues = new { Controller = "Home", Action = "Menu" };
                   settings.Text = "Menu example";
               }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().Button(settings => {
                   settings.Name = "ButtonTreeView";
                   settings.UseSubmitBehavior = false;
                   settings.RouteValues = new { Controller = "Home", Action = "TreeView" };
                   settings.Text = "TreeView example";
               }).GetHtml()
            </td>
        </tr>
    </table>
</center>